html
  head
    title='QSK Book'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Kubernetes FTW!
        p Check out my video courses, other K8s books, and my website...
        p 
          a.btn.btn-primary(href="https://www.pluralsight.com/search?q=nigel%20poulton&categories=course") Video courses

          a.btn.btn-outline-primary(href="https://www.amazon.com/Kubernetes-Book-Version-November-2018-ebook-dp-B072TS9ZQZ/dp/B072TS9ZQZ/ref=mt_other?_encoding=UTF8&me=&qid=1531240306") The Kubernetes Book
          
          a.btn.btn-primary(href="https://www.amazon.com/The-Kubernetes-Book-dp-B07Q8QH7DL/dp/B07Q8QH7DL/ref=mt_audio_download?_encoding=UTF8&me=&qid=1531240306") Audible version

          a.btn.btn-outline-primary(href="https://nigelpoulton.com") nigelpoult.com
